[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/spurious/SDL-mirror.git
[submodule "dependencies/glew"]
	path = dependencies/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/whereami"]
	path = dependencies/whereami
	url = https://github.com/gpakosz/whereami.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
